{{ 'section-collapsible-content.css' | asset_url | stylesheet_tag }}
{{ 'faq.css' | asset_url | stylesheet_tag }}  

{%- style -%}
		{% render 'section-padding' %}
{%- endstyle -%}

<link
	rel="stylesheet"
	href="{{ 'component-accordion.css' | asset_url }}"
	media="print"
	onload="this.media='all'"
>
 
<div class="collapsible-content color-{{ section.settings.color_scheme }} background section-{{ section.id }}-padding">
	{% render 'section-header' %}
	<div class="container">
		<div class="">
			<div class="collapsible-content-box">
				{% for block in section.blocks %}
					{% if block.settings.block_heading != blank
						and block.settings.text != blank
					%}
						<div class="collapsible-content-block">
							<div class="accordion collapsible-content-item">
								<details {% if forloop.first %}open{% endif %}>
									<summary>
										<h3 class="collapsible-content-block__heading">
											{{ block.settings.block_heading | escape }}
										</h3>
										<svg class="plus-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M352 128C352 110.3 337.7 96 320 96C302.3 96 288 110.3 288 128L288 288L128 288C110.3 288 96 302.3 96 320C96 337.7 110.3 352 128 352L288 352L288 512C288 529.7 302.3 544 320 544C337.7 544 352 529.7 352 512L352 352L512 352C529.7 352 544 337.7 544 320C544 302.3 529.7 288 512 288L352 288L352 128z"/></svg>
										<svg class="minus-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M96 320C96 302.3 110.3 288 128 288L512 288C529.7 288 544 302.3 544 320C544 337.7 529.7 352 512 352L128 352C110.3 352 96 337.7 96 320z"/></svg>
									</summary>
									{%- if block.settings.text != blank -%}
										<div class="collapsible-content-block__description richtext__content">
											{{ block.settings.text }}
										</div>
									{%- endif -%}
								</details>
							</div>
						</div>
					{%- endif -%}
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% schema %}
{
	"name": "Faq",
	"class": "collapsible-content-section faq-section-custom",
	"tag": "section",
	"enabled_on": {
		"templates": ["*"]
	},
	"settings": [
		{
			"type": "color_scheme",
			"id": "color_scheme",
			"default": "background-1",
			"label": "t:sections.all.color_scheme.label"
		},
		{
			"type": "inline_richtext",
			"id": "heading",
			"default": "Heading",
			"label": "t:sections.all.heading.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section-padding.header.content"
		},
		{
			"type": "select",
			"id": "padding_top",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-padding.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-padding.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-padding.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-padding.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-padding.options__5.label"
				}
			],
			"default": "s",
			"label": "t:sections.all.section-padding.padding_top.label"
		},
		{
			"type": "select",
			"id": "padding_bottom",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-padding.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-padding.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-padding.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-padding.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-padding.options__5.label"
				}
			],
			"default": "s",
			"label": "t:sections.all.section-padding.padding_bottom.label"
		}
	],
	"blocks": [
		{
			"type": "text-block",
			"name": "t:sections.collapsible-content.blocks.accordion.name",
			"settings": [
				{
					"type": "inline_richtext",
					"id": "block_heading",
					"default": "Heading",
					"label": "t:sections.all.heading.label"
				},
				{
					"type": "richtext",
					"id": "text",
					"default": "<p>Description</p>",
					"label": "t:sections.all.text.label"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Faq",
			"blocks": [
				{
					"type": "text-block"
				},
				{
					"type": "text-block"
				},
				{
					"type": "text-block"
				},
				{
					"type": "text-block"
				}
			]
		}
	]
}
{% endschema %}